<body style= "background-color:black"><br><br><br><br>
<%= form_with url: "/users/:user_id/pendings" do |form| %>
<div style="color: yellow" align="center">
<h1><%= form.label :email %></h1>
<h1><%= form.text_field :email%></h1>
<%= form.submit :submit%>
</div>
<% end %>
</body>