<body style="background-color:yellow">
<table border="1" align="center">
<tr><th><h1>Email</h1></th></tr>
<% @friends.each do |friend| %>
<tr><td><h1 align="center" style="color:blue"><%= friend.email %></h1></td><td></tr><br><br>
<% end %>
</table>
</body>