
<body><br><br><br><br><br>
<%= stylesheet_link_tag "style" %>
<h1 align="center" style="color:red">Welcome to Emails</h1>
<table border="1" align="center" style="color:yellow">
<tr><th><h1>Email</h1></th></tr>

<% @searches.each do|search| %>
    <tr><td><h1><%= search.email %></h1></td></tr>
<% end %>


</table>
</body>